<div class="footer">
    <div class="footCont1">
        <div class="footCon1Start">
            <p><i class="fa-solid fa-globe"></i></p>
        <p>English (IN)</p>
         <p>&#8377; INR</p>
        </div>
        <div class="footConIcon">
            <a href="/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="/"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="/"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
    </div>
    <div class="footCon2">
        <p>	&#169; 2023 Airbnb, Inc.</p>
    </div>
    <div class="footCon3">
        <ul>
            <li>Privacy</li>
            <li> &#x2022; Terms</li>
            <li>  &#x2022; Sitemap</li>
            <li>  &#x2022; Company details</li>
        </ul>
    </div>
</div>