<% layout("/layouts/boilerplate.ejs") -%>


<div class="row">
    <div class="col-8 offset-2" >
        <h3>Create new listings</h3>
    <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
        <div class="invalid-feedback">
      Please enter valid title
    </div>
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="" class="form-control" required></textarea>
        </div>
  
        <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input name="listing[image]" type="file" class="form-control">
        </div>

        <div class="row">
        <div class="mb-3 col-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]"  placeholder="1200" class="form-control" required>
          <div class="invalid-feedback">
      Price should be valid
    </div>
        </div>

        <div class="mb-3 col-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="India" class="form-control" required>
          <div class="invalid-feedback">
     Country name should be valid
    </div>
        </div>
       </div>

        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Jaipur, Rajasthan" class="form-control" required>
          <div class="invalid-feedback">
      Please enter valid location
    </div>
        </div>
        
        <br>
        <button class="btn btn-dark mb-3 subbtn" >Add</button>
    </form> 
    </div>
    </div>
